<!DOCTYPE html>
<html>
  <head>

  <link rel="stylesheet" type="text/css" href="css/styles.css">

    <title>Fwitter (any similarities to Twitter are purely coincidental - please do not sue)</title>
  </head>
  
  <body>
    <form action="/login" method="POST">
	    <input class="input" name="username" type="text" placeholder="username">
	    <button id="submit" class="btn btn-default" type="submit">Login</button>
    </form>
  </body>
</html>